:root {
	--chat--color-primary: #fe2c51;
	--chat--color-primary-shade-50: #36cf50;
	--chat--color-primary-shade-100: #2a1d9e;
	--chat--color-secondary: #cec367;
	--chat--color-secondary-shade-50: #af349b;
	--chat--color-white: #ffffff;
	--chat--color-light: #f2f4f8;
	--chat--color-light-shade-50: #e6e9f1;
	--chat--color-light-shade-100: #c2c5cc;
	--chat--color-medium: #d2d4d9;
	--chat--color-dark: #1ab1b4;
	--chat--color-disabled: #777980;
	--chat--color-typing: #404040;
}
