:root {
	--chat--color-primary: #42e74a;
	--chat--color-primary-shade-50: #c3d879;
	--chat--color-primary-shade-100: #2d1dc5;
	--chat--color-secondary: #ec8a1a;
	--chat--color-secondary-shade-50: #ee0606;
	--chat--color-white: #ffffff;
	--chat--color-light: #f2f4f8;
	--chat--color-light-shade-50: #e6e9f1;
	--chat--color-light-shade-100: #c2c5cc;
	--chat--color-medium: #d2d4d9;
	--chat--color-dark: #101330;
	--chat--color-disabled: #777980;
	--chat--color-typing: #404040;
}
